services: 
  app:
    build: .
    container_name: python-server
    command: uvicorn src.main:app --host 0.0.0.0 --port 80 --reload
    ports:
      - 8080:80     # application port
      - 5678:5678   # debugpy port
    volumes:
      - .:/code
    depends_on:
      - redis
  
  redis:
    image: redis:alpine